@model List<Vidly.Models.Customer>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Customers</h2>

    @if (!Model.Any())
    {
        <text>There are currently no customers.</text>
    }
    else
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Membership Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                        <td>@customer.MembershipType.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    }


